# OS-specific files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Helm
*.tgz
.helm/

# Chart Releaser
.cr-release-packages/
.cr-index/

# Temporary files
*.tmp
*.log
