namespace:
  name: certa
  create: true

postgresql:
  enabled: true
  image:
    repository: postgres
    tag: "15"
    pullPolicy: IfNotPresent
  
  replicaCount: 1
  
  service:
    type: ClusterIP
    port: 5432
  
  env:
    POSTGRES_DB: certa
    POSTGRES_USER: certa
    POSTGRES_PASSWORD: certa123
  
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  
  persistence:
    enabled: true
    size: 10Gi
    storageClass: ""
    accessMode: ReadWriteOnce
    existingClaim: ""

certa:
  image:
    repository: judyandiealvarez/certa
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  
  replicaCount: 1
  
  service:
    type: NodePort
    port: 8080
    nodePort: 30082
  
  ingress:
    enabled: false
    className: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    hosts:
      - host: certa.dev.net
        paths:
          - path: /
            pathType: Prefix
    tls: []
  
  env:
    ASPNETCORE_ENVIRONMENT: Production
    ASPNETCORE_URLS: "http://0.0.0.0:8080"
    ASPNETCORE_DATA_PROTECTION__DEFAULT_KEY_LIFETIME: "90"
    ASPNETCORE_DATA_PROTECTION__KEY_RING_AUTO_GENERATE_KEYS: "true"
  
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"

labels:
  app: certa
